* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";

  font-size: 1.6rem;
}

/* common */

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6.95px;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 52px;
  border-radius: 6px;
  background: #212832;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.button:hover {
  background: rgba(33, 40, 50, 0.9);
}
img {
  object-fit: contain;
}
/* header */

.header {
  position: sticky;
  top: 0;
  padding-top: 42px;
  background-color: #fff;
  z-index: 100;
  padding-bottom: 5px;
}

.header .container .nav_bar {
  display: flex;
  align-items: center;
}
.header .container .nav_bar .menu {
  margin-left: 70.32px;
}
.header .container .nav_bar .menu .list_menu {
  display: flex;
  gap: 48px;
}

.header .container .nav_bar .menu .list_menu .item_menu a {
  color: #696d76;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.header .container .nav_bar .menu .list_menu .item_menu .primary_cta {
  position: relative;
  color: #212832;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.header .container .nav_bar .menu .list_menu .item_menu .primary_cta::before {
  position: absolute;
  display: flex;
  content: "";
  width: 47px;
  height: 1px;
  bottom: 0;
  border-radius: 0.5px;
  background: #7264d6;
}
.header .container .nav_bar .action_cta {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: 454px;
}

.header .container .nav_bar .action_cta .login {
  color: #212832;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  white-space: nowrap;
}

/* hero */

.hero {
  margin-top: 76px;
}
.hero .container {
  display: flex;
  gap: 60px;
}
.hero .card_left {
  padding-top: 57px;
}

.hero .card_left .text_top {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.hero .card_left .text_top::before {
  content: "";
  display: inline-flex;

  width: 18px;
  height: 2px;
  background: #696d77;
}

.hero .card_left .title {
  width: 500px;
  margin-top: 12px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}

.hero .card_left .title .hightlight {
  color: #7264d6;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 70px;
}

.hero .card_left .desc {
  width: 540px;
  margin-top: 20px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .card_left .form_hero {
  position: relative;
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
  margin-top: 48px;
}

.hero .card_left .form_hero input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 23px;
  background: #fff;
  box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
  border: none;
  outline: none;

  font-size: 16px;
}

.hero .card_left .form_hero input::placeholder {
  position: absolute;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.hero .card_left .form_hero .button_input {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
  outline: none;
  width: 149px;
  height: 58px;
  border: none;
  border-radius: 8px;
  background: #7264d6;
}

.hero .card_left .important {
  margin-top: 20px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

.hero .card_right .images_phone {
  position: relative;
  margin-left: 100px;
  margin-right: 174px;
  width: 296px;
  height: 562px;
  flex-shrink: 0;
}

.hero .card_right .images_phone .deco_left-deposite {
  position: absolute;

  top: 113px;
  left: -100px;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}
.hero .card_right .images_phone .deco_left-deposite .group_deco {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}
.hero .card_right .images_phone .deco_left-deposite .group_deco .text {
  display: flex;
  margin-left: 8px;
}
.hero .card_right .images_phone .deco_left-deposite .group_deco .price {
  margin-left: 19px;
  color: #4ab5e3;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; /* 100% */
  padding-right: 10px;
}
.hero .card_right .images_phone .deco_right-interest {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 127px;
  right: -174px;
  background-color: #da6464;
  border-radius: 50%;
}
.hero .card_right .images_phone .deco_right-interest .sale {
  position: absolute;
  top: 29px;
  left: 33px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero .card_right .images_phone .deco_right-interest .text {
  position: absolute;
  top: 78px;
  left: 36px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.hero .card_right .images_phone .deco_right_fund {
  position: absolute;
  width: 124px;
  height: 68px;
  bottom: 64px;
  right: -74px;
  border-radius: 10px;
  background: #439f90;
  gap: 10px;
}
.hero .card_right .images_phone .deco_right_fund .group_deco {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
  margin-left: 14px;
}

.hero .card_right .images_phone .deco_right_fund .group_deco .group_text .fund {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
}
.hero .card_right .images_phone .deco_right_fund .group_deco .group_text .text {
  color: #fff;
  font-family: "Open Sans";
  font-size: 8px;
  margin-top: 5px;
  font-weight: 400;
  line-height: 8px; /* 100% */
}

/* works */

.works {
  padding: 160px 0;
}
.works .container {
  display: flex;
  gap: 230px;
}
.works .card_left {
  position: relative;
  width: 470px;
  height: 619px;
}
.works .card_left .human {
  position: absolute;
  width: 456px;
  height: 619px;
  object-fit: contain;
}

.works .card_left .deco_top {
  position: absolute;
  top: 76px;
  right: 55px;
}
.works .card_left .deco_bottom {
  position: absolute;
  right: -100px;
  bottom: 96px;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.works .card_left .deco_bottom .group_deco {
  margin-left: 15px;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.works .card_left .deco_bottom .group_deco .title {
  color: #212832;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
}

.works .card_left .deco_bottom .group_deco .desc {
  color: #696d76;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.works .card_right {
  margin-top: 29px;
}

.works .card_right .text_top {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.works .card_right .text_top::before {
  content: "";
  display: inline-flex;
  width: 18px;
  height: 2px;
  background: #696d77;
}
.works .card_right .title {
  width: 294px;
  margin-top: 12px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; /* 125% */
  margin-bottom: 70px;
}
.works .card_right .group_text .title {
  width: 470px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
  margin-bottom: 16px;
}

.works .card_right .group_text .desc {
  width: 470px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 29px;
}

/* feature-1 */
.feature-1 .container {
  display: flex;
  gap: 130px;
}
.feature-1 .card_left .text_top {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.feature-1 .card_left .text_top::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
}

.feature-1 .card_left .title {
  width: 470px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; /* 125% */
  margin-top: 12px;
  margin-bottom: 20px;
}

.feature-1 .card_left .desc {
  width: 470px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.feature-1 .card_left .group_extension {
  margin-top: 28px;
}

.feature-1 .card_left .group_extension .text {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.feature-1 .card_left .group_extension .text::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7264d6;
}

.feature-1 .card_left .group_extension .text2 {
  margin: 18px 0;
}
.feature-1 .card_left .action_cta {
  margin-top: 58px;
}

.feature-1 .card_left .action_cta .button {
  width: 149px;
  height: 58px;
  border-radius: 8px;
}

.feature-1 .card_left .action_cta .button a {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.feature-1 .card_right .images_card {
  position: relative;
  margin-top: 86px;
}
.feature-1 .card_right .images_card .deco_top {
  position: absolute;
  display: flex;
  align-items: center;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
  top: -48px;
  right: -88px;
}
.feature-1 .card_right .images_card .deco_top .group_text {
  display: flex;
  gap: 54px;
}

.feature-1 .card_right .images_card .deco_top .group_text .text_left .title {
  color: #212832;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}
.feature-1 .card_right .images_card .deco_top .group_text .text_right .title {
  color: #212832;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.feature-1 .card_right .images_card .deco_top .group_text .text_left .desc {
  margin-top: 4px;
  color: #696d76;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
}
.feature-1 .card_right .images_card .deco_top .group_text .text_right .desc {
  margin-top: 3px;
  color: #696d76;
  text-align: right;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
}
.feature-1 .card_right .images_card .deco_bottom {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
  right: -88px;
  bottom: -55px;
}
.feature-1 .card_right .images_card .deco_bottom svg {
  position: absolute;
  top: 14px;
  left: 15px;
}
.feature-1 .card_right .images_card .deco_bottom .desc {
  position: absolute;
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  top: 58px;
  left: 15px;
}

.feature-1 .card_right .images_card .deco_bottom .price {
  position: absolute;
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  bottom: 15px;
  left: 15px;
}
/* feature-2 */

.feature-2 {
  padding: 160px 0;
}
.feature-2 .container {
  display: flex;
  gap: 130px;
}
.feature-2 .card_left .images_card {
  position: relative;
  width: 570px;
  height: 600px;
}
.feature-2 .card_left .images_card .group_payment {
  position: absolute;
  width: 281px;
  height: 205px;
  background-color: white;
  filter: drop-shadow(0 44px 48px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  bottom: 57px;
  right: 26px;
}
.feature-2 .card_left .images_card .group_payment .sep {
  padding: 28px 28px;
}
.feature-2 .card_left .images_card .group_payment .sep a {
  width: 63px;
  height: 48px;
}
.feature-2 .card_left .images_card .group_payment .sep .method_top {
  display: flex;
  gap: 18px;
  margin-top: 20px;
}

.feature-2 .card_left .images_card .group_payment .sep .method_bottom {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}
.feature-2 .card_left .images_card .money {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #7264d6;
  border-radius: 50%;
  right: 0px;
  bottom: 222px;
  cursor: pointer;
}

.feature-2 .card_right {
  margin-top: 50px;
}

.feature-2 .card_right .text_top {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.feature-2 .card_right .text_top::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
}

.feature-2 .card_right .title {
  width: 470px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; /* 125% */
  margin-top: 12px;
  margin-bottom: 20px;
}

.feature-2 .card_right .desc {
  color: #696d76;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.feature-2 .card_right .group_extension {
  margin-top: 28px;
  margin-bottom: 38px;
}

.feature-2 .card_right .group_extension .text {
  display: flex;
  gap: 12px;
  align-items: center;
  color: #212832;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.feature-2 .card_right .group_extension .text::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #7264d6;
  border-radius: 50%;
}

.feature-2 .card_right .group_extension .text2 {
  margin: 18px 0;
}

.feature-2 .card_right .button {
  width: 149px;
  height: 58px;
}
/* feedback */
.feedback .group_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback .group_text .text_top {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.feedback .group_text .text_top::before {
  content: "";
  display: inline-block;
  background: #696d77;
  width: 18px;
  height: 2px;
}
.feedback .group_text .title {
  width: 359px;
  color: #212832;
  text-align: center;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; /* 125% */
  margin-top: 12px;
  margin-bottom: 18px;
}

.feedback .group_text .desc {
  width: 435px;
  color: #696d76;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.feedback .feedback_body .list_feedback {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
.feedback .feedback_body .item_feedback {
  position: relative;
}
.feedback .feedback_body .list_feedback .client_say {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 570px;
  height: 314px;
  background: #fff;
  filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
}
.feedback .feedback_body .list_feedback .client_say-2 {
  outline: 1px solid #dfe2e8;
}

.feedback .feedback_body .list_feedback .triangle {
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 80px solid #fdfdfd;
  filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
  z-index: 2;
}
.feedback .feedback_body .list_feedback .triangle-1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 80px solid #fdfdfd;
  filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
  z-index: 2;
}
.feedback .feedback_body .list_feedback .triangle-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 82px solid transparent;
  border-right: 82px solid transparent;
  border-top: 82px solid #dfe2e8;
  filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
  z-index: 1;
}

.feedback .feedback_body .list_feedback .client_say .text {
  width: 514px;
  color: #696d76;
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}

.feedback .feedback_body .list_feedback .client_info {
  padding-top: 118px;
  display: flex;
  justify-content: center;
}
.feedback .feedback_body .list_feedback .client_info .images_human {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feedback .feedback_body .list_feedback .client_info .images_human .human {
  width: 104px;
  height: 104px;
  border-radius: 52px;
  background: #4ab5e3;
  object-fit: cover;
}

.feedback .feedback_body .list_feedback .client_info .images_human .human-2 {
  background: #439f90;
}

.feedback .feedback_body .list_feedback .client_info .images_human .title {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  color: #070052;
  text-align: center;
  font-family: "Open Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 138.462% */
}
.feedback .feedback_body .list_feedback .client_info .images_human .desc {
  color: #696d76;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  margin-top: 2px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.feedback .feedback_footer {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}
.feedback .feedback_footer svg {
  cursor: pointer;
}
/* reading */

.reading {
  padding: 100px 0;
}
.reading .card {
  display: flex;
  justify-content: space-between;
}
.reading .card_left .text_top {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.reading .card_left .text_top::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
}

.reading .card_left .title {
  width: 359px;
  margin-top: 6px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; /* 125% */
}

.reading .card_left .desc {
  margin-top: 18px;
  width: 435px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.reading .card_right .button {
  margin-top: 50px;
  width: 123px;
  height: 58px;
}
.reading .card_body {
  margin-top: 70px;
}
.reading .card_body .list_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.reading .card_body .item_card {
  width: 570px;
  height: 216px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
}
.reading .card_body .list_card .group_item {
  display: flex;
  margin: 28px;
  gap: 22px;
}

.reading .card_body .list_card .group_item img {
  border-radius: 12px;
  cursor: pointer;
}

.reading .card_body .list_card .group_item .text .date {
  color: #696d76;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.reading .card_body .list_card .group_item .text .desc {
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 332px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.reading .card_body .list_card .group_item .text a {
  
  color: #7264d6;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
