* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 118px;
    height: 50px;
    background: #171100;
    border-radius: 999px;
}
.navbar img {
    margin-left: 135px;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
}

.header.move {
    position: sticky;
    top: -32px;
}
.header .navbar {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.navbar .nav {
    margin-left: auto;
}
.navbar ul {
    display: flex;
}
.navbar li {
    margin-left: 42px;
    align-items: center;
    color: #5f5b53;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.navbar li:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.navbar .active {
    color: #171100;
    font-size: 16px;
    font-weight: 600;
}

.navbar .active::after {
    content: "";
    display: block;
    background-color: #171100;
    width: 12px;
    height: 2px;
    border-radius: 1px;
}

.navbar .actions {
    margin-left: 70px;
}

.navbar .btn-sign-up {
    min-width: 144px;
}

.navbar .actions a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 11px;
}
