* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}
/* common */
.grid {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;

  background: #ccc;

  font-size: 30px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #009ef7;
}

.container {
  width: 1330px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.button {
  display: flex;
  width: 170px;
  height: 62px;
  background: #5d3bee;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fdfdfd;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
/* tailwin */
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
/* contact */
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact .inner__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(93, 59, 238, 0.2);
}
.contact .inner__contact img {
  width: 24px;
  height: 16px;
  object-fit: cover;
}

.contact a {
  width: 202px;
  height: 33px;
  color: #080415;
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
/* header */

.header {
  display: flex;
  padding-top: 20px;
  align-items: center;
  background: #fbfaff;
}

.header .container {
  width: 1330px;
}

.header .menu {
  display: flex;
  align-items: center;
}
.header .list_menu {
  gap: 43px;
  display: flex;
}

.header .list_menu a {
  display: inline-block;
  color: #51586a;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  transition: all 0.2s ease;
}

.header .list_menu a:hover {
  font-weight: 600;
  transform: scale(1.05);
  text-decoration: underline;
}

/* hero */
.hero {
  padding-top: 44px;
  background: #fbfaff;
}

.hero .card_left {
  position: relative;
  height: 705px;
}

.hero .card_left .images {
  position: relative;
}
.hero .card_left .deco_human {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -215px;
  bottom: 78px;
}

.hero .card_left .human {
  position: absolute;
  object-fit: cover;
}

.hero .card_right {
  margin-top: 137px;
}

.hero .card_right .title {
  width: 500px;
  height: 164px;
  color: #080415;
  font-family: "DM Sans";
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 76px; /* 95% */
  letter-spacing: -3.2px;
}

.hero .card_right .desc {
  width: 370px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #51586a;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .card_right .cta_button {
  display: flex;
  gap: 30px;
}

.hero .card_right .cta_button .my_work {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080415;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.hero .card_right .follow_social {
  display: flex;
  gap: 15px;
  margin-top: 104px;
}
.hero .card_right .follow_social .text {
  color: #51586a;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}

.hero .card_right .follow_social {
  display: flex;
  align-items: center;
}

.hero .card_right .follow_social .social {
  display: flex;
  gap: 20px;
}
