* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.btn {
    min-width: 98px;
    border-radius: 12px;
    padding: 18px 16px;
    background: var(--primmary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}
:root {
    --primmary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}

body {
    /* overflow-x: hidden; */
    font-size: 1.6rem;
    font-family: "Poppings", sans-serif;
}

.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.content {
    max-width: calc(100% - 48px);
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding-top: 38px;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .acctions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    color: #4f5361;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .acctions-link {
    color: var(--primmary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .btn-acctions {
    padding: 12px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}
.hero .subtitle {
    color: #687690;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 18px;
    color: #000336;
    font-size: 55px;
    font-weight: 800;
    line-height: 1.19; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.hero-cta {
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* clients */

.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.row .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
}

.row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 96px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.guides {
    margin-top: 200px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 35px; /* 100% */
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    height: 4px;
    width: 41px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 430px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 22px; /* 110% */
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 14px;
    font-weight: 600;
}

.guide-item .vertor {
    margin-left: 6px;
}

.guides-cta {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.guides-cta .btn {
    min-width: 170px;
}
/* featured */
.featured {
    display: flex;
    background: #f5fafe;
    margin-top: 230px;
}

.featured .header {
    margin-top: 110px;
    background: none;
    min-width: 100vw;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 35px; /* 100% */
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.featured .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .link .vertor {
    margin-left: 8px;
}
