* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppings", sans-serif;
}

.header {
    background: #e6f0ff;
    height: 100vh;
}

.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar .acctions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    color: #4f5361;
    font-weight: 500;
    padding: 0 14px;
}
