* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.btn {
    min-width: 98px;
    border-radius: 8px;
    padding: 18px 16px;
    background: var(--primmary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}
:root {
    --primmary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: "Poppings", sans-serif;
}

.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.content {
    max-width: calc(100% - 48px);
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding-top: 38px;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .acctions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    color: #4f5361;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .acctions-link {
    color: var(--primmary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.btn-acctions {
    padding: 12px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}
.hero .subtitle {
    color: #687690;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 18px;
    color: #000336;
    font-size: 60px;
    font-weight: 700;
    line-height: 76px; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.hero-cta {
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 10px);
    bottom: 0;
}
