* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

button {
    border: none;
}

.desc-head {
    color: #767e7e;
    font-size: 12px;
    font-weight: 700;
}
.btn {
    display: inline-block;
    min-width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* header */
header {
    z-index: 1;
    position: sticky;
    top: -38px;
}

.header {
    background-color: #fff;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
    justify-content: space-between;
}

.header .nav ul {
    display: flex;
}

.header .nav ul a {
    color: #2f3a3b;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 19.5px;
}

.header .nav ul a:hover {
    color: #2f3a3b;
    font-size: 16px;
    text-shadow: 1px 0 0 currentColor;
}

.header .acctions-link {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .acctions-btn {
    display: inline-block;
    min-width: 108px;
    height: 48px;
    color: #1ebfc1;
    text-align: center;
    padding: 12px 24px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    margin-left: 24px;
}

/* hero  */

.hero {
    /* tạo cho có */
}
.hero .body {
    display: flex;
    padding-top: 65px;
    padding-bottom: 79px;
    justify-content: space-between;
}

.hero .body .info {
    margin-top: 93px;
}

.hero .info .desc-head {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .info .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    width: 458px;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .info .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero .info .cta-group {
    display: flex;
    align-items: center;
    margin: 52px 0 50px;
}

.hero .info .btn {
    margin-right: 50px;
}

.hero .info .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero .info .img {
    width: 40px;
    height: 40px;
}

.hero .courses {
    display: flex;
    width: 641px;
    height: 631px;
    justify-content: space-between;
}

.hero .courses .images {
    position: relative;
    width: 576px;
    height: 631px;
    background-color: #e0f7f6;
    object-fit: cover;
}

.hero .stats-group {
    position: absolute;
}

.hero .stats-group .stats-1 {
    display: flex;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    margin-top: -496px;
    margin-left: -35px;
}

.hero .stats-group .stats-2 {
    display: flex;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    margin-top: 247px;
    margin-left: -65px;
}

.hero .stats-group .stats-3 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    margin-top: -113px;
    margin-left: 324px;
}

.hero .stats-group .sub-title {
    width: 55px;
    color: #0d1111;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    margin: 27px 16px 25px 23px;
}

.hero .stats-2 .sub-title {
    margin: 16px 35px 6px;
}

.hero .stats-3 .sub-title {
    margin: 17px 35px 8px;

    width: 110px;
}

.hero .stats-1 .icon {
    content: "";
    display: inline-block;
    width: 36px;
    height: 40px;
    background-color: #ff8282;
    margin-top: 17px;
    margin-left: 25px;
    border-radius: 7px;
}

.hero .stats-1 .icon::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 28px 4px 8px;
    border-radius: 999px;
}

.hero .stats-2 .stats-icon {
    margin-top: 10px;
    margin-left: 25px;
}

.hero .stats-3 .avatar-stats {
    margin-right: -5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .stats-3 .images-block {
    display: flex;
    margin-left: 35px;
}
/* features */
.feature {
    display: flex;
    width: 87.5%;
    height: 559px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.feature .feature-top .title {
    margin-top: 18px;
    width: 577px;
    color: #0d1111;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px; /* 133.333% */
}

.feature .feature-top .desc {
    width: 590px;
    color: #767e7e;
    font-size: 18px;
    font-weight: 400;
}

.feature .feature-bottom {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    gap: 275px;
}

.feature .feature-bottom .images {
    width: 102px;
    height: 106px;
}

.feature .feature-bottom .sub-title {
    color: #0d1111;
    font-size: 20px;
    font-weight: 600;
    margin-top: 26px;
}

.feature .feature-bottom .desc {
    width: 168px;
    color: #9da6a5;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}

.feature .feature-bottom .feature-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* popular  */
.popular {
    margin-top: 130px;
}

.popular .heading {
    width: 1170px;
    height: 182px;
}

.popular .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 42px;
    font-weight: 700;
}

.popular .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.popular .row {
    display: flex;
    justify-content: space-between;
}

.popular .row .link {
    display: flex;
    color: #1ebfc1;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
    align-items: center;
}

.popular-list {
    display: flex;
    margin-top: 79px;
    gap: 47px;
    flex: 1;
}

.popular-item .images {
    position: relative;
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.popular-item .rating {
    position: absolute;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    margin-top: -124px;
    margin-left: 17px;
}
.popular-item .popular-text {
    margin-top: 17px;
    margin-left: 25px;
}

.popular-item .sub-title {
    color: #0d1111;
    font-size: 22px;
    font-weight: 700;
}

.popular-item .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 16px;
    font-weight: 400;
}

.popular-item .price strong {
    color: #0d1111;
    font-size: 22px;
    font-weight: 700;
}

.popular-item .desc {
    color: #9da6a5;
    font-size: 14px;
    font-weight: 400;
}

.popular-item .popular-stats {
    display: flex;
}

.popular-item .popular-stats .desc-stats {
    margin-top: 18px;
    color: #9da6a5;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.popular-item .popular-stats .desc-stats::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1bbfc1;
    vertical-align: middle;
    margin-right: 10px;
}
/* stats */

.stats {
    margin-top: 389px;
    display: flex;
}

.stats .stats-list {
    display: flex;
    gap: 200px;
    justify-content: center;
}

.stats .stats-list .stats-number {
    color: #0d1111;
    font-size: 62px;
    font-weight: 700;
}

.stats .stats-list .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 18px;
    font-weight: 400;
}

/* teacher */
.teacher {
    margin-top: 264px;
}
.teacher .body {
    display: flex;
}

.teacher .quote {
    padding-right: 36px;
}
.teacher .open-quote {
    margin-top: 37px;
}
.teacher .desc {
    margin-top: 27px;
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 48px; /* 150% */
}

.teacher .desc-student {
    margin-top: 33px;
    color: #767e7e;
    font-size: 16px;
    font-weight: 400;
}

.teacher .desc-student::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
    vertical-align: middle;
    margin-right: 5px;
}

.teacher .desc-student strong {
    color: #070707;
    font-size: 16px;
    font-weight: 600;
}
.teacher .teacher-icon {
    display: inline-flex;
    margin-top: 52px;
}
.teacher .teacher-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #2ac9bf;
    border-radius: 50%;
    margin-right: 30px;
}

.teacher .teacher-icon .icon:hover {
    opacity: 0.9;
    cursor: pointer;
}
.teacher-img {
    padding-left: 36px;
}

/* cta  */
.cta {
    margin-top: 130px;
    background: #def6f5;
}

.cta .cta-list {
    display: flex;
    padding-top: 76px;
    padding-bottom: 88px;

}

.cta .cta-item .sub-title {
    width: 420px;
    color: #070707;
    font-size: 42px;
    font-weight: 700;
}

.cta .cta-item .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 18px;
    font-weight: 400;
}


.cta .cta-item .btn-cta {
    margin-top: 20px;
    margin-left: 410px;

}