* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

button {
    border: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* header */
header {
    z-index: 1;
    position: sticky;
    top: -38px;
}

.header {
    background-color: #fff;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
    justify-content: space-between;
}

.header .nav ul {
    display: flex;
}

.header .nav ul a {
    color: #2f3a3b;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 19.5px;
}

.header .nav ul a:hover {
    color: #2f3a3b;
    font-size: 16px;
    text-shadow: 1px 0 0 currentColor;
}

.header .acctions-link {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .acctions-btn {
    display: inline-block;
    min-width: 108px;
    height: 48px;
    color: #1ebfc1;
    text-align: center;
    padding: 12px 24px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    margin-left: 24px;
}

/* hero  */

.hero {
    height: 100vh;
}
.hero .body {
    display: flex;
    padding-top: 65px;
    padding-bottom: 79px;
    justify-content: space-between;
}

.hero .body .info {
    margin-top: 93px;
}

.hero .info .desc-head {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .info .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    width: 458px;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .info .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero .info .cta-group {
    display: flex;
    align-items: center;
    margin: 52px 0 50px;
}

.hero .info .btn {
    margin-right: 50px;
}

.hero .info .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero .info .img {
    width: 40px;
    height: 40px;
}

.hero .courses {
    display: flex;
    width: 641px;
    height: 631px;
    justify-content: space-between;
}

.hero .courses .images {
    position: relative;
    width: 576px;
    height: 631px;
    background-color: #e0f7f6;
    object-fit: cover;
}

.hero .stats-group {
    position: absolute;
}

.hero .stats-group .stats-1 {
    display: flex;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    margin-top: -496px;
    margin-left: -35px;
}

.hero .stats-group .stats-2 {
    display: flex;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    margin-top: 247px;
    margin-left: -65px;
}

.hero .stats-group .stats-3 {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    margin-top: -113px;
    margin-left: 324px;
}

.hero .stats-group .sub-title {
    width: 55px;
    color: #0d1111;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    margin: 27px 16px 25px 23px;
}

.hero .stats-2 .sub-title {
    margin: 16px 35px 6px;
}

.hero .stats-3 .sub-title {
    margin: 17px 35px 8px;

    width: 110px;
}

.hero .stats-1 .icon {
    content: "";
    display: inline-block;
    width: 36px;
    height: 40px;
    background-color: #ff8282;
    margin-top: 17px;
    margin-left: 25px;
    border-radius: 7px;
}

.hero .stats-1 .icon::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 28px 4px 8px;
    border-radius: 999px;
}

.hero .stats-2 .stats-icon {
    margin-top: 10px;
    margin-left: 25px;
}

.hero .stats-3 .avatar-stats {
    margin-right: -5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .stats-3 .images-block {
    display: flex;
    margin-left: 35px;
}
