* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  background: #fffaf5;
}
/* common */
.button {
  display: flex;
  height: 56px;
  width: 182px;
  border-radius: 31px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5b2e;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

a {
  text-decoration: none;
}

/* header */

.header .container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.header .header__navbar {
  display: flex;
  width: 1169px;
  height: 50px;
  padding-top: 26px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-between;
}

.header .header__navbar .header__navbar__menu .list_menu {
  display: flex;
  gap: 36px;
}

.header .header__navbar .header__navbar__menu .list_menu .text_menu {
  color: #5e6085;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}

.header .header__navbar .header__navbar__menu .list_menu .text_menu-primary {
  color: #000958;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px; /* 100% */
}

.header .header__navbar .action .button_nav {
  width: 117px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #000958;
  opacity: 0.7;
}
.header .header__navbar .action .text_button {
  color: #000958;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px; /* 100% */
}

.header .header__body {
  display: flex;
  gap: 283px;
}
.header .header__body .card_left {
  position: relative;
}
.header .header__body .card_left .cat_left {
  padding-bottom: 94px;
}
/* cat left */
.header .header__body .card_left .cat_left .images_primary {
  position: relative;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  outline: 3px solid #ffffff;

  background: #fe997b;
  overflow: hidden;
}
.header .header__body .card_left .cat_left .images_primary::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  outline: 3px solid #ffffff;
  background: #fe997b;
  z-index: 2;
  pointer-events: none;
}
.header .header__body .card_left .cat_left .images_primary .cat {
  position: absolute;
  width: 590px;
  height: auto;
  transform: rotate(5.278deg);
  top: -100px;
  left: -95px;
  object-fit: contain;
  z-index: 3;
}
.header .header__body .card_left .cat_left .cat_before {
  position: absolute;
  left: -15.11%;
  bottom: 114.53px;
}
.header .header__body .card_left .cat_left .cat_after {
  position: absolute;
  top: 16.66px;
  right: -39.55px;
}

/* dog right */

.header .header__body .card_left .dog_right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 186px;
  height: 244px;
  border-radius: 16px;
  background: #faa7ad;
  outline: 2px solid #fcdcdf;
  right: -163px;
  bottom: 36px;
  z-index: 4;
}

.header .header__body .card_left .dog_right .dog {
  object-fit: contain;
}

/* information retangle */
.header .header__body .card_left .information {
  position: absolute;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  right: 9px;
  bottom: 0;
  z-index: 4;
}

.header .header__body .card_left .information .images_information {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
  margin-left: 14px;
  margin-top: 18px;
}

.header .header__body .card_left .information .images_information img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  object-fit: contain;
}

.header .header__body .card_left .information .card_top,
.card_bottom {
  display: flex;
}

.header .header__body .card_left .information .card_top .text_information {
  margin-top: 20px;
  margin-left: 10px;
}
.header .header__body .card_left .information .text_information .title {
  color: #181e52;
  font-family: Sora;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px; /* 100% */
}
.header .header__body .card_left .information .text_information .desc {
  width: 118px;
  height: 4px;
  margin-top: 7px;
  margin-left: 1px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}
.header
  .header__body
  .card_left
  .information
  .card_top
  .text_information
  .desc-2 {
  width: 39px;
  margin-top: 6px;
}
.header .header__body .card_left .information .line {
  width: 222px;
  height: 2px;
  background: #f2f2f2;
  margin-top: 20px;
  margin-left: 14px;
  border-radius: 10px;
}

.header .header__body .card_left .information .card_bottom .images_information {
  margin-top: 19.6px;
  background: #c6e2fa;
}

.header .header__body .card_left .information .card_bottom .text_information {
  margin-top: 22px;
  margin-left: 10px;
}

/* card right */
.header .header__body .card_right {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.header .header__body .card_right .text_card .title_card {
  width: 517px;
  color: #000958;
  font-family: Sora;
  font-size: 66px;
  font-weight: 800;
  line-height: 76px; /* 115.152% */
}

.header .header__body .card_right .text_card .desc_card {
  margin-top: 24px;
  width: 391px;
  color: #656689;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.header .header__body .card_right .action_card {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header .header__body .card_right .action_card .button_hero {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 60px;
  border-radius: 31px;
  background: #ff5b2e;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.header .header__body .card_right .action_card .button_hero:hover {
  opacity: 0.9;
}

.header .header__body .card_right .action_card .button_hero span {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.header .header__body .card_right .action_card .button_hero .dot_right {
  width: 20px;
  height: 20px;
  background-color: #fffaf5;
  border-radius: 999px;
}

.header .header__body .card_right .action_card .link_action {
  color: #000958;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* about */

.about {
  padding: 77px 0;
}

.about .container {
  display: flex;
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 53px auto;
  gap: 108px;
}
.about .container .card_left {
  padding-right: 92px;
}
.about .container .card_left .text_card {
  margin-top: 69px;
}
.about .container .card_left .text_card .text {
  color: #5e6085;
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.about .container .card_left .text_card .text_title {
  width: 446px;
  margin-top: 15px;
  color: #000958;
  font-family: Sora;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}

.about .container .card_left .text_card .text_desc {
  width: 431px;
  margin-top: 24px;
  color: #656689;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.about .container .card_left .box_card .checkbox_bottom {
  margin-top: 34px;
}
.about .container .card_left .checkbox_horizon {
  display: flex;
  gap: 62px;
}
.about .container .card_left .checkbox_shared {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 250px;
  gap: 10px;
}
.about .container .card_left .box_card {
  margin-top: 54px;
}
.about .container .card_left .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ff5d31;
  box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about .container .card_left .text_checkbox {
  color: #48496a;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px; /* 100% */
}

.about .container .card_right .images_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 494px;
  height: 559px;
  border-radius: 16px;
}
.about .container .card_right .images_card::before {
  position: absolute;
  inset: auto 0 0 0;
  content: "";
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  z-index: -1;
}
.about .container .card_right .images_card img {
  position: absolute;
  top: -18px;
  width: 450px;
  height: 602px;
  object-fit: contain;
}

.about .container .card_right .images_card .deco_card {
  position: absolute;
  left: -92px;
  top: 165px;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about .container .card_right .images_card .deco_card .number {
  display: flex;
  margin-top: 31px;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px; /* 100% */
}

.about .container .card_right .images_card .deco_card .desc {
  margin-top: 14px;
  text-align: center;
  margin-left: 27px;
  width: 83px;
  color: #c6f4f9;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.about .container .card_right .images_card .deco_card img {
  position: absolute;
  top: -45px;
  right: -40px;
  width: 100px;
  height: 100px;
}

/* feature */

.features {
  margin-top: 16px;
  padding-bottom: 130px;
}

.features .container {
  display: flex;
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  gap: 127px;
}

.features .container .card_left .images_dog {
  position: relative;
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features .container .card_left .images_dog .dog_primary {
  position: absolute;
  left: 0;
  width: 458px;
  height: 500px;
  object-fit: contain;
}

.features .container .card_left .images_dog .dog_deco_foot {
  position: absolute;
  width: 123px;
  height: 119.583px;
  bottom: -54.58px;
  right: -42px;
}
.features .container .card_left .images_dog .features_deco_right-1 {
  position: absolute;
  width: 23px;
  height: 25.5px;
  top: 268px;
  right: -33px;
}
.features .container .card_left .images_dog .features_deco_right-2 {
  position: absolute;
  width: 12px;
  height: 14px;
  top: 336px;
  right: 19px;
}

.features .container .card_left .images_dog .features_deco_top-1 {
  position: absolute;
  width: 6.117px;
  height: 30px;
  top: 12.5px;
  right: 63.16px;
}

.features .container .card_left .images_dog .features_deco_top-2 {
  position: absolute;
  top: -16px;
  right: 13px;
  width: 18.625px;
  height: 35px;
}
.features .container .card_left .images_dog .features_deco_top-3 {
  position: absolute;
  width: 53.5px;
  height: 27.075px;
  top: 33px;
  right: -21px;
}

.features .container .card_right .text_card {
  margin-bottom: 52px;
}
.features .container .card_right .text_card .title {
  margin-top: 36px;
  color: #000958;
  font-family: Sora;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}

.features .container .card_right .text_card .desc {
  width: 511px;
  margin-top: 24px;
  color: #656689;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.features .container .card_right .tab {
  position: relative;
}
.features .container .card_right .tab .list_tab {
  position: relative;
  display: inline-flex;
  column-gap: 56px;
}
.features .container .card_right .tab .item_tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;

  padding-bottom: 14px;
}

.features .container .card_right .tab .item_tab .title {
  color: #48496a;
  font-family: Sora;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px; /* 100% */
  white-space: nowrap;
}

.features .container .card_right .tab .line {
  position: absolute;
  width: 557px;
  height: 2px;
  opacity: 0.07;
  background: #ff5b2e;
  border-radius: 99px;
}

.features .container .card_right .tab .line-2 {
  border-radius: 99px;

  width: 95px;
  height: 2px;
  background: #ff5b2e;
}

.features .container .card_right .text_card-2 {
  position: relative;
}
.features .container .card_right .text_card-2 .desc {
  margin-top: 36px;
  margin-bottom: 32px;
  width: 391px;
  color: #656689;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.features .container .card_right .text_card-2 .action_link {
  position: absolute;
  color: #ff5d31;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
  padding-bottom: 5px;
}

.features .container .card_right .text_card-2 .line {
  position: absolute;
  bottom: -52px;
  width: 86px;
  height: 1.5px;
  background: #ff5d31;
}
/* Our Services */
.services {
  background: #fff6ed;
  padding-bottom: 100px;
}
.services .container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.services .container .text_services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services .container .text_services .question {
  margin-top: 68px;
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.services .container .text_services .title {
  color: #000958;
  text-align: center;
  margin-top: 15px;
  font-family: Sora;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}

.services .container .services_body {
  display: flex;
  gap: 71px;
  margin-top: 71px;
}

.services .container .services_body .item_card {
  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.services .container .services_body .item_card {
  margin: 24px 0;
}
.services .container .services_body .item_card .title {
  position: relative;
  margin-top: 30px;
  margin-left: 28px;
  color: #000958;
  font-family: Sora;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px; /* 100% */
}
.services .container .services_body .item_card .title::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
  left: -12px;
}
.services .container .services_body .item_card .desc {
  width: 244px;
  margin-top: 18px;
  margin-bottom: 24px;
  margin-left: 28px;
  color: #656689;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.services .container .services_body .item_card .read_more {
  display: flex;
  align-items: flex-end;
  margin-left: 28px;
  color: #34396a;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
}
.services .container .services_body .item_card .read_more svg {
  margin-left: 6px;
}

.services .container .services_body .card_center .images_dog {
  position: relative;
  width: 440px;
  height: 650px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .container .services_body .card_center .images_dog::before {
  position: absolute;
  content: "";
  width: 410px;
  height: 350px;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services .container .services_body .card_center .images_dog img {
  width: 447px;
  height: 621px;
  position: absolute;
  object-fit: contain;
  bottom: -10px;
}
.services .container .services_body .card_center .action_button {
  display: flex;
  margin-top: 45px;
  justify-content: center;
  align-items: center;
}
.services .container .services_body .card_center .button {
  box-shadow: none;
  width: 214px;
  height: 56px;
}
.services .container .services_body .card_center .button span {
  color: #ff5b2e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
}

/* Team */

.team {
  padding: 130px 0;
  background: #fffaf5;
}

.team .container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.team .container .text_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .container .desc {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.team .container .title {
  margin-top: 15px;
  color: #000958;
  font-family: Sora;
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}

.team .container .card_body .list_card {
  display: flex;
  gap: 67px;
}
.team .container .card_body .list_card .item_card {
  position: relative;
}
.team .container .card_body .list_card .images_human {
  position: relative;
  width: 234px;
  height: 266px;
  border-radius: 129.5px;
  margin-top: 78px;
}

.team .container .card_body .list_card .images_human-1 {
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.team .container .card_body .list_card .images_human-2 {
  border-radius: 129.5px;
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.team .container .card_body .list_card .images_human-3 {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.team .container .card_body .list_card .images_human-4 {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.team .container .card_body .list_card .item_card {
}
.team .container .card_body .list_card .images_human .human {
  position: absolute;
  border-radius: 129.5px;
  object-fit: contain;
  bottom: 0;
}
.team .container .card_body .list_card .images_human .deco_human_bottom {
  position: absolute;
  display: flex;
  width: 266px;
  height: 109px;
  margin-left: -16px;
  bottom: -5px;
}

.team .container .card_body .list_card .images_human .deco_human_top {
  position: absolute;
  display: flex;
  width: 266px;
  height: 109px;
  margin-left: -16px;
  top: -19px;
}

.team .container .card_body .list_card .text_item .duty {
  margin-top: 34px;
  color: #656689;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.team .container .card_body .list_card .text_item .name {
  margin-top: 14px;
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px; /* 100% */
  margin-bottom: 48px;
}

.team .container .card_body .action_button {
  display: flex;
  justify-content: center;
}

.team .container .card_body .action_button .button {
  width: 193px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
}

/* pricing */

.pricing {
  background: #fff6ed;
  padding: 86px 0;
}

.pricing .container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.pricing .card_top .text_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing .card_top .text_card .title {
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}

.pricing .card_top .text_card .desc {
  width: 709px;
  margin-top: 24px;
  color: #656689;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.pricing .card_top .action_button label {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 38px;
  width: 276px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  transition: all 500ms;
  cursor: pointer;
}
.pricing .card_top .action_button label::before {
  position: absolute;
  content: "";
  display: inline-block;
  right: 0;
  width: 131px;
  height: 56px;
  border-radius: 31px;
  background: #ff5b2e;
  transition: all 500ms;
}
.pricing .card_top .action_button input:checked ~ label::before {
  left: 0;
}
.pricing .card_top .action_button input:checked ~ label .span-1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.pricing .card_top .action_button input:checked ~ label .span-2 {
  color: #ff5b2e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.pricing .card_top .action_button label .span-1 {
  color: #ff5b2e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.pricing .card_top .action_button label .span-2 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.pricing .card_top .action_button label span {
  margin: 0 40px;
  z-index: 1;
}

.pricing .card_body {
  margin-top: 56px;
}
.pricing .card_body .list_card {
  display: flex;
  gap: 44px;
  justify-content: center;
}
.pricing .card_body .item_card {
  width: 302px;
  height: 465px;
  border-radius: 20px;
  background: #fff;
}
.pricing .card_body .item_card .group_info {
  margin: 30px 28px 0 28px;
}

.pricing .card_body .item_card .group_info .type {
  color: #ff5b2e;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px; /* 100% */
}

.pricing .card_body .item_card .group_info .quality {
  margin-top: 8px;
  color: #3f4065;
  font-family: Sora;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px; /* 100% */
}

.pricing .card_body .item_card .group_info .price {
  margin-top: 24px;
  color: #000958;
  font-family: Sora;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 103.03% */
}

.pricing .card_body .item_card .group_info .button {
  width: 246px;
  height: 44px;
  margin-top: 22px;
  border-radius: 39px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  color: #ff5b2e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
  margin-bottom: 24px;
}

.pricing .card_body .item_card .group_info .button-2 {
  border-radius: 39px;
  background: #ff5b2e;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.pricing .card_body .item_card .group_info .group_text {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}

.pricing .card_body .item_card .group_info .group_text .text {
  color: #656689;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
/* reviews */

.reviews {
  padding-top: 53px;
  background: #fffaf5;
}

.reviews .container {
  display: flex;
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  gap: 115px;
}
.reviews .container .card_left {
  display: flex;
  gap: 44px;
}

.reviews .container .card_left .button_direc {
  display: flex;
  align-items: center;
}
.reviews .container svg:hover circle {
  fill: #ff5b2e;
  cursor: pointer;
}

.reviews .container svg:hover path {
  stroke: #fff;
}
.reviews .container .card_left .images_reviews {
  position: relative;
  width: 274px;
  height: 350px;
  border-radius: 137px;
  background: #ffda54;
}

.reviews .container .card_left .images_reviews img {
  position: absolute;
  border-radius: 137px;
  bottom: 0;
  object-fit: contain;
}
.reviews .container .card_right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
}
.reviews .container .card_right .text_card .title {
  margin-top: 36px;
  color: #000958;
  font-family: Sora;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}

.reviews .container .card_right .text_card .desc {
  margin-top: 24px;
  width: 553px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.reviews .container .card_right .text_card .owner {
  display: flex;
  align-items: center;
  margin-top: 34px;
  color: #282828;
  font-family: Sora;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px; /* 100% */
  margin-bottom: 92px;
}

.reviews .container .card_right .text_card .owner::before {
  content: "";
  display: inline-flex;
  margin-right: 8px;
  border-radius: 99px;
  width: 20px;
  height: 2px;
  background: #000;
}

.reviews .container .card_right .dot {
  position: absolute;
  bottom: 0;
  left: 62px;
}

.reviews .container .card_right .dot svg rect:hover {
  fill: #ff5b2e;
  cursor: pointer;
}

/* blog */

.blog {
  padding: 130px 0;
}

.blog .container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.blog .container .card_top {
  display: flex;
  justify-content: space-between;
}
.blog .container .card_top .card_top_left .title {
  color: #000958;
  font-family: Sora;
  font-size: 52px;
  margin-top: 39px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}
.blog .container .card_top .card_top_right {
  margin-right: 73px;
}
.blog .container .card_top .card_top_right .desc {
  width: 350px;
  color: #656689;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.blog .container .card_top .card_top_right .button {
  width: 182px;
  height: 56px;
  margin-top: 24px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
}

.blog .container .card_body .list_card .group_card .images_card {
  position: relative;
  margin-top: 54px;
  width: 358px;
  height: 362px;
  border-radius: 24px;
}
.blog .container .card_body .list_card {
  display: flex;
  gap: 48px;
}
.blog .container .card_body .list_card .group_card .images_card-1 {
  background: #90ccff;
}
.blog .container .card_body .list_card .group_card .images_card-2 {
  background: #ff997e;
}
.blog .container .card_body .list_card .group_card .images_card-3 {
  background: #5bd6e2;
}
.blog .container .card_body .list_card .group_card .images_card .text {
  position: absolute;
  color: #fff;
  font-family: Sora;
  font-size: 14px;
  top: 24px;
  left: 36px;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
}
.blog .container .card_body .list_card .group_card .images_card img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.blog .container .card_body .list_card .group_card .text_card .title {
  width: 338px;
  margin-top: 28px;
  color: #000958;
  font-family: Sora;
  font-size: 22px;
  font-weight: 600;
  line-height: 34px; /* 154.545% */
}

.blog .container .card_body .list_card .group_card .text_card .desc {
  margin-top: 16px;
  width: 351px;
  color: #656689;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/* footer */
.footer {
  background: linear-gradient(to right, #fff6ed 42%, #fffaf5 42%);
}
.footer .container {
  display: flex;
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.footer .container .card_left {
  width: 42%;
}
.footer .container .card_right {
  flex: 1;
  background-color: #fffaf5;
}

.footer .container .card_left .logo {
  padding-top: 114px;
}

.footer .container .card_left .input_footer .search_form {
  display: flex;
  position: relative;
  margin-top: 35px;
  width: 268px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background: #fff;
}
.footer .container .card_left .input_footer .search_form input {
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  padding: 0 22px;
  box-sizing: border-box;
  background: transparent;
  position: relative;
}
.footer .input_footer .search_form input:focus,
.footer .input_footer .search_form input:not(:placeholder-shown) {
  outline: none;
  border: none;
}
.footer .container .card_left .input_footer .search_form label {
  position: absolute;
  color: #656689;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 116.667% */
  z-index: 1;
  left: 22px;
  top: 16px;
}
.footer .input_footer .search_form input:focus ~ label,
.footer .input_footer .search_form input:not(:placeholder-shown) ~ label {
  display: none;
}
.footer .container .card_left .input_footer .search_form .action_button {
  position: absolute;
  left: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ff5b2e;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer .container .card_left .social {
  margin-top: 68px;
}
.footer .container .card_left .social .title {
  color: #000958;
  font-family: Sora;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px; /* 111.111% */
}

.footer .container .card_left .social .list_social {
  display: flex;
  gap: 16px;
}

.footer .container .card_left .social .list_social .item_social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0 16px 28px -10px rgba(211, 132, 53, 0.33);
}

.footer .container .card_right .card_right-top {
  display: flex;
  gap: 225px;
  margin-top: 52px;
  margin-left: 129px;
}

.footer .container .card_right .card_right-bottom {
  display: flex;
  gap: 225px;
  margin-top: 86px;
  margin-left: 137px;
}

.footer .container .card_right .title {
  margin-right: 1px;
  color: #000958;
  font-family: Sora;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px; /* 111.111% */
}

.footer .container .card_right .list_action {
  margin-top: 14px;
}
.footer .container .card_right a {
  display: inline-block;
  color: #656689;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  white-space: nowrap;
}
.footer .container .card_right a:hover {
  text-decoration: underline;
}

.footer .container .card_right .copyright {
  padding-top: 52px;
  padding-bottom: 48px;
  margin-left: 22px;
  color: #656689;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  opacity: 0.5;
}
